<table class="striped bordered" id="results">
  <thead>
    <tr>
        <th data-field="id">Provider</th>
        <th data-field="name">Appx. Cost</th>
        <th data-field="time">Est. Time</th>
    </tr>
  </thead>
  
  <tbody>
    {% for company, stats in result|dictsort %}
    <tr>
      <td>{{ company }}</td>
      <td>${{ stats['avg_cost'] }} </td>
      <td>{{ stats['total_time'] }} mins </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br>

<table class="striped bordered">
  <thead>
    <th data-field="route">Route</th>
  </thead>
 
  <tbody>
    {% for location in route%}
    <tr>
      <td>{{ location }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

